/**
 * @ File Name: style.scss
 * @ Author: 박다윗 (daxxx2030@gail.com)
 * @ Last Update: 2022-10-18 23:40:00
 * @ Description: Style SCSS
 */
@charset "utf-8";

// import scss
@import "./reset.scss";
@import "./responsive.scss";
@import "./variables.scss";
@import "./common.scss";

// main
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    // 타이틀
    #main_title {
        text-align: center;
    }
    // 오늘의 공연
    #main_today {
        display: none;
    }
    // 검색 버튼
    #main_button {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}